

/* .breadcrumb {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}

#content {
    margin-bottom: 25px;
} */

/* .adsbygoogle {
    margin-bottom: 15px;
} */



#containerSliderAjax {
    text-align: center;
}

.loading {
    text-align: center;
}